<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <title>Visa Lista</title>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
       <meta name="viewport" content="width=device=width, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    </head>
    <body>   
        <button 
        onclick="document.location='http://localhost:8080/GradeWebService/index.html'"><-Tillbaka</button>
        <h1> Vue.js - JavaScript Ramverk </h1>
        <div class="w3-container" id="app">
            <select name="Val av kurs">
                <option>Ladda in allt</option>
                <option>D0031N</option>
                <option>Placeholder3</option>
            </select>
            <p><button v-on:click="loadData()">Ladda Data</button></p>
            <p><button v-on:click="loadCourse()">Ladda Kurs D0031N</button></p>
                <table class="w3-table w3-striped w3-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Personnummer</th>
                            <th scope="col">Namn</th>
                            <th scope="col">Modul</th>
                            <th scope="col">Omdöme</th>
                            <th scope="col">Kurskod</th>
                            <th scope="col">Betyg</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="grades in grades" v-if="grades.betyg !== null">
                            <td>{{ grades.persNr}}</td>
                            <td>{{ grades.namn}}</td>
                            <td>{{ grades.modul}}</td>
                            <td>{{ grades.omdöme}}</td>
                            <td>{{ grades.kurskod}}</td>
                            <td>{{ grades.betyg}}</td>
                            <td>{{ grades.datum}}</td>
                            <td>{{ grades.status}}</td>
                        </tr>    
                    </tbody> 
                </table>
       </div>
            <script>
              
                new Vue({
                    el: '#app',
                    data: {
                        grades: []
                    },
                    methods: {
                        loadData: function(){
                            axios.get('http://localhost:8080/GradeWebService/resources/gradeform')
                                    .then(response => {
                                        this.grades =response.data;
                                console.log(response);
                            })
                             .catch(error => {
                                console.log(error);
                            });
                        },
                        loadCourse: function(){
                            axios.get('http://localhost:8080/GradeWebService/resources/gradeform/D0031N')
                                    .then(response => {
                                        this.grades =response.data;
                                console.log(response);
                            })
                             .catch(error => {
                                console.log(error);
                            });
                        }
                    }
                });
            </script>
    </body>
</html>
